.transactionHistory{
    width: 900px;
    margin: 60px auto;
    border: solid 1px black;
    background-color: #fff;
}

.transactionHistory thead tr{
    border: solid 1px black;
    background-color: rgb(109, 109, 245);
    height: 50px;
    color: #fff;
}

.transactionHistory tbody  tr{
     text-align: center;
     height: 40px;
     border: solid 1px black;
     
}

.transactionHistory tr td{
    
    color: gray;
}

.transactionHistory td::first-letter{
    text-transform: uppercase;
}

.transactionHistory tbody tr:hover{
    background-color: rgb(82, 82, 234);
    color: #ffff;
    
}